ADF_pipelines/pipeline/Pipeline_to_inject_data_to_sql_db.json
{
	"name": "Pipeline_to_inject_data_to_sql_db",
	"properties": {
		"description": "This pipeline is to load data to sql db not for Prod",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Dataset_for_adls_gen2_destination",
						"type": "DatasetReference",
						"parameters": {
							"p_folder": "triggerdata",
							"p_container": "source"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"SalesTerritoryKey"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SalesTerritoryKey",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SalesTerritoryKey",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Region",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Region",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Country",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Continent",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Continent",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_for_adls_gen2_destination",
									"type": "DatasetReference",
									"parameters": {
										"p_file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"p_folder": "triggerdata",
										"p_container": "source"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"Table_name": {
											"value": "@variables('FileToTableMapping')[item().name]",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"FileToTableMapping": {
				"type": "String",
				"defaultValue": "{\"AdventureWorks_Returns.csv\": \"Sales_Returns\",\"AdventureWorks_Sales_2016.csv\": \"Sales_table\",\"AdventureWorks_Sales_2017.csv\": \"Sales_table\",\"AdventureWorks_Territories.csv\": \"SalesTerritory\",\"AdventureWorks_Products.csv\": \"Products\"}"
			}
		},
		"annotations": []
	}
}