ADF_pipelines/pipeline/Pipeline_to_load_AZ_sql_db_data_to_ADLS_with_CDC.json
{
	"name": "Pipeline_to_load_AZ_sql_db_data_to_ADLS_with_CDC",
	"properties": {
		"description": "This pipeline will load  data from azure sql db data to ADLS  with change data capture ",
		"activities": [
			{
				"name": "Last_cdc_Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Dataset_for_sql_db_cdc_date_json_file",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Total_results",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Last_cdc_Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Linked_service_for_Azure_sql_db_02",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select count(*) as total_count from @{pipeline().parameters.Schema}.@{pipeline().parameters.table} WHERE last_updated > '@{if(empty(pipeline().parameters.backdate),activity('Last_cdc_Lookup1').output.firstRow.cdc_timestamp,pipeline().parameters.backdate)}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "if new rows greater than  0",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Total_results",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Total_results').output.resultSets[0].rows[0].total_count,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{pipeline().parameters.Schema}.@{pipeline().parameters.table} WHERE last_updated > '@{if(empty(pipeline().parameters.backdate),activity('Last_cdc_Lookup1').output.firstRow.cdc_timestamp,pipeline().parameters.backdate)}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dataset_for_sqldb_sink_Parquet1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "change cdc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc_timestamp",
											"value": {
												"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc_timestamp",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dataset_for_empty_json_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Dataset_for_sql_db_cdc_date_json_file",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "max_cdc",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Linked_service_for_Azure_sql_db_02",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "select max(last_updated) as cdc_timestamp from @{pipeline().parameters.Schema}.@{pipeline().parameters.table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "string",
				"defaultValue": "source"
			},
			"table": {
				"type": "string",
				"defaultValue": "Orders"
			},
			"backdate": {
				"type": "string",
				"defaultValue": "2025-09-25"
			}
		},
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SQL DB To Parquet Incremental  Pipeline/Ingestion"
		},
		"annotations": []
	}
}